
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
font-size: 25px;	
}

#campos{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: 25px;
margin-top:15%;
}

#opcoes{
margin-top:2%;
width: 500px;
height: 450px;
background-color: rgb(240, 240, 240);
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius:20px;
color: rgb(120, 120, 120);
}

legend{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

label{
margin:10px;
}

input[type="submit"] {
width:200px;
cursor: pointer;
border: none;
border-radius: 5px;
background: #479f76;
color: white;
font-size: 1.1rem;
transition: all .3s ease-in-out;
}
#estadoporta input[type="submit"] {
width:90px;
cursor: pointer;
border: none;
border-radius: 5px;
background: black;
color: white;
}
input[type="submit"]:hover {
background: #0f5132;
}

#menu{
width:100%;
height:70px;
background-color: #479f76;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}

#menu > img{
width:70px;
height:70px;
}

#menu > h1{
margin:0;
font-style: italic;
font-weight: 900;	
font-family: 'Roboto', sans-serif;
font-size:  40px;
color:white;
}
#estadoporta {
height:200px;
width:20%;
background-color: rgb(240, 240, 240);
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius:20px;
color: rgb(120, 120, 120);
position: absolute;
right:2%;
top:20%;
padding:15px;
}
#camposstatus{
display: flex;
flex-direction: column;
align-items: center;
height:60px;
justify-content: space-between;
font-size: 25px;
}
#estadoporta > form > h1 {
margin:20px;
font-size:20px;
text-align:center;
}
#sair {
    position: absolute;
    top:10px;
    right: 20px;
    color: #fff;
}